ffmpeg/*
Hidden/*
logs/*
.env
.vscode/settings.json
resources/*
*.pyc 
.vscode/.ropeproject/config.py
.vscode/.ropeproject/config.py
.cache-*
yarn-error.log
web-app/src/.App.js.*
web-app/public/resources/*
